/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
.banner {
	border-bottom: 3px dotted black;
	margin-bottom: 15px;
	background-color: rgb(204, 179, 202);
}
.banner {
	text-align: center;
}
body {
	background-color: rgb(234, 217, 171);
}
.home_button {
	margin-left: 50px;
}

a.button {
	background-color: rgb(136,77,131);
	border-color: rgb(136,77,131);
}

a.button:hover {
	background-color: rgb(204, 179, 202);
	border-color: rgb(204, 179, 202);
}

a.button.green{
	background-color: green;
}a.button.orange {
	background-color: orange;
}a.button.red {
	background-color: red;
}

#remind_tour_button {
	background-color: rgb(204, 179, 202);
	color: rgb(136,77,131);
}

.accordion_content_checkbox{
	max-height : 165px;
	overflow: scroll;

} 

.footer {
	margin-top: 15px;
	padding: 10px;
	background-color: rgb(136,77,131);
}


/* -----------------------------------------
   Page Index
----------------------------------------- */
#home_content a.large.radius.button{
	width: 100%;

}
#home_content .description{
	margin-top: 10px;
	text-align: justify;
	border: 2px dotted rgb(136,77,131);
	padding: 5px;
	background-color: rgb(204, 179, 202);
}

#home_content a {
	font-size: 25px;
}


/* -----------------------------------------
   Page Name 2
----------------------------------------- */
#chart_content {
	margin-top: 10px;
}

#chart_container {
	background-color: white;
	padding: 5px
}

